<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head-header"></head>
<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <!-- pageheader  ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title"><i class="fa fa-fw fa-dog"></i>
                                    Administrator
                                </h2>
                                <p class="pageheader-text">
                                </p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="#" class="breadcrumb-link">Administrator</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                Update User
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                </div>
                <!-- update user  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="section-block" id="basicForm">
                            <h3 class="section-title">Edit User</h3>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form class="needs-validation" novalidate action="#" th:action="@{/user/create}" method="post"  th:object="${user}">
                                    <div class="form-group row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2 form-group">
                                            <label for="firstName" class="col-form-label">First Name</label>
                                            <input id="firstName" th:field="*{firstName}" required="" type="text" class="form-control">
                                            <div class="invalid-feedback">
                                                Please enter first name.
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2 form-group">
                                            <label for="lastName" class="col-form-label">Last Name</label>
                                            <input id="lastName" th:field="*{lastName}" required="" type="text" class="form-control">
                                            <div class="invalid-feedback">
                                                Please enter last name.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2 form-group">
                                            <label for="email">Email Address</label>
                                            <input id="email" th:field="*{userName}" required="" type="email" placeholder="name@example.com" class="form-control">
                                            <div class="invalid-feedback">
                                                Please enter email.
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2 form-group">
                                            <label for="phone-mask">Phone <small class="text-muted">(999) 999-9999</small></label>
                                            <input type="tel" th:field="*{phone}" required="" class="form-control phone-inputmask" id="phone-mask" im-insert="true" placeholder="" pattern="^\d{10}$">
                                            <div class="invalid-feedback">
                                                Please enter phone number.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-66 col-12 mb-2 form-group">
                                            <label for="pass" class="col-form-label">Password</label>
                                            <input id="pass" th:field="*{password}" type="password" required="" placeholder="Minimum 8 characters" class="form-control"
                                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                                            <div class="invalid-feedback">
                                                Please enter valid password. Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2 form-group">
                                            <label for="pass2" class="col-form-label">Confirm Password</label>
                                            <input id="pass2" th:field="*{password}" type="password" required="" data-parsley-equalto="#pass" class="form-control"
                                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                                            <div class="invalid-feedback">
                                                Please enter valid password. Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2 form-group">
                                            <label class="col-form-label">Gender</label>
                                            <div >
                                                <label for="female" class="custom-control custom-radio">
                                                    <input id="female" th:field="*{gender}" th:value="FEMALE" type="radio" name="radio-gender" class="custom-control-input"><span class="custom-control-label">Female</span>
                                                </label>
                                                <label for="male" class="custom-control custom-radio">
                                                    <input id="male" th:field="*{gender}" th:value="MALE" type="radio" name="radio-gender" class="custom-control-input"><span class="custom-control-label">Male</span>
                                                </label>
                                                <label for="nonbinary" class="custom-control custom-radio">
                                                    <input id="nonbinary" th:field="*{gender}" th:value="NONBINARY" type="radio" name="radio-gender" class="custom-control-input"><span class="custom-control-label">Non-Binary</span>
                                                </label>
                                                <div class="invalid-feedback">
                                                    Please select gender.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2 form-group">
                                                <label for="role" class="col-form-label">Role</label>
                                                <select class="form-control" id="role" name="role">
                                                    <option th:value=" ''" th:text="Select"></option>
                                                    <option th:each="role : ${roles}" th:value="${role.getRole().id}" th:text="${role.getRole().description}"
                                                            th:selected="${role.getRole().id}==${user.role.id}"></option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select role.
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2 form-group">
                                                <a th:href="@{/user/update/{id}(id=${user.userName})}" ><button type="submit" class="btn btn-space btn-primary">Save</button></a>
                                                <a th:href="@{/user/delete/{id}(id=${user.userName})}" ><button class="btn btn-space btn-secondary">Reset</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- responsive user table -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-block">
                        <h3 class="section-title">User List</h3>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive ">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Email(Username)</th>
                                        <th scope="col">Cell</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user, iStat : ${users}" >
                                        <th th:text="${iStat.index+1}"scope="row"></th>
                                        <td th:text="${user.firstName}+' '+ ${user.lastName}"></td>
                                        <td th:text="${user.gender.value}"></td>
                                        <td th:text="${user.userName}"></td>
                                        <td th:text="${user.phone}"></td>
                                        <td th:text="${user.role.description}"></td>
                                        <td class="actions">
                                            <button type="submit" class="btn btn-space btn-primary fas fa-edit"></button>
                                            <button class="btn btn-space btn-secondary fas fa-eraser"></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ------------------------TABLE END----------------------------- -->
        </div>
    </div>
    <div th:replace="/fragments/footer :: footer"></div>
</div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>
