<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<body>
<div th:fragment="footer">
    <!-- footer -->
    <footer class="page-footer font-small blue fixed-bottom">
        <!--            <div class="footer-copyright text-center py-3">© 2020 Cybertek – All Rights Reserved:</div>-->

        <div class="container-fluid">
            <div class="row p-2 bg-primary">
                <div class="text-md-left col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    Copyright © 2020 KalaProds. All rights reserved.
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="text-md-right text-white d-none d-sm-block">
                        <a href="javascript: void(0);"> About </a>
                        <a href="javascript: void(0);"> Support </a>
                        <a href="javascript: void(0);"> Contact Us </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>

</html>